@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

* {
    font-family: 'Lora', sans-serif;
    font-optical-sizing: auto;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
	background-color: var(--bg-primary);
}

html[data-theme="light"] {
	--bg-primary: #eee9e2;
	--bg-secondary: #faf7f3;
	--bg-outline: #dad1c5;
	--bg-hover: #f3ede7;
	--bg-disabled: #ede6df;
	--tg-primary: #95674b;
	--tg-secondary: #967a58;
	--tg-hovered: #ede3d7;
	--tg-hint: #bca48a;
	--tg-disabled: #d8cfc7;
	--accent-base: #a67c52;
	--accent-hovered: #5D3B32;
	--error-background: #FFAEC1;
	--error-foreground: #E9204F;
	--error-hover: #86102C;
	--success-foreground: #00B450;
}

html[data-theme="dark"] {
	--bg-primary: #1d1a19;
	--bg-secondary: #181512;
	--bg-outline: #2c2219;
	--bg-hover: #222222;
	--bg-disabled: #35302B;
	--tg-primary: #eadac2;
	--tg-secondary: #cbad8a;
	--tg-hovered: #121212;
	--tg-hint: #A88A6B;
	--tg-disabled: #6C6C6C;
	--accent-base: #a67c52;
	--accent-hovered: #202020;
	--error-background: #4C1824;
	--error-foreground: #E9204F;
	--error-hover: #86102C;
	--success-foreground: #00B450;
}
