@import url('../../index.css');

.wrapper {
    background-color: rgba(0, 0, 0, 0.5);
    place-content: center;
    position: fixed;
    z-index: 999;
    height: 100vh;
    width: 100vw;
    bottom: 0;
    left: 0;
}

.wrapper[data-open=false] {
    display: none;
}

.wrapper[data-open=true] {
    display: grid;
}

.chat {
    background-color: var(--bg-secondary);
    flex-direction: column;
    border-radius: 0.25rem;
    display: flex;
    padding: 1rem;
    width: 50rem;
    border: 1px solid var(--bg-outline);
    gap: 1rem;
    position: relative;
}

.chat-header {
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.chat-header h3 {
    font-weight: 500;
    font-size: 0.875rem;
    color: var(--tg-primary);
}

.chat-body {
    flex-direction: column;
    flex-shrink: 0;
    align-self: flex-start;
    display: flex;
    width: 100%;
    gap: 1rem;
}

.chat-body-upper {
    flex-direction: column;
    border-radius: 0.25rem;
    position: relative;
    display: flex;
    height: 50vh;
    border: 1px solid var(--bg-outline);
    width: 100%;
    gap: 0rem;
}

.chat-body-upper .messages {
    flex-direction: column;
    padding-bottom: 4rem;
    overflow-y: auto;
    padding: 0.5rem;
    display: flex;
    width: 100%;
    gap: 1rem;
}

.chat-body-upper .message {
    background-color: var(--bg-primary);
    flex-direction: column;
    border-radius: 0.25rem;
    font-weight: 500;
    align-items: flex-start;
    font-size: 0.875rem;
    display: flex;
    padding: 0.5rem;
    border: 1px solid var(--bg-outline);
    width: 75%;
    color: var(--tg-secondary);
    gap: 0.5rem;
}

.messages .message[data-role='agent'][data-source='seraphim-ai'] {
    border-left: 4px solid var(--success-foreground);
    align-self: flex-start;
}

.messages .message[data-role='agent'][data-source='live-agent'] {
    border-left: 4px solid var(--accent-base);
    align-self: flex-start;
}

.messages .message[data-role='user'] {
    border-right: 4px solid var(--accent-base);
    align-items: flex-end;
    align-self: flex-end;
}

.chat-body-upper .message-label {
    font-weight: 700;
    font-size: 0.875rem;
    color: var(--tg-primary);
}

.chat-body-upper .placeholder {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    display: flex;
    height: 100%;
    gap: 0.5rem;
    padding-bottom: 4rem;
}

.chat-body-upper .placeholder .placeholder-title {
    color: var(--tg-primary);
}

.chat-body-upper .placeholder .placeholder-body {
    color: var(--tg-secondary);
}

.chat-options {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--bg-secondary);
    border-top: 1px solid var(--bg-outline);
    padding: 0.5rem;
    display: flex;
    width: 100%;
    gap: 0.5rem;
}

.chat-options-switch_btn {
    background-color: var(--accent-base);
    border-radius: 0.25rem;
    flex-shrink: 0;
    font-weight: 600;
    transition: 0.25s ease all;
    font-size: 0.875rem;
    z-index: 9999;
    padding: 0 0.75rem;
    height: 2rem;
    color: var(--bg-primary);
    border: 1px solid var(--accent-base);
}

.chat-options-switch_btn:hover {
    background-color: var(--accent-hovered);
    color: var(--accent-base);
}

.chat-options-predefined_questions {
    display: flex;
    width: 100%;
    gap: 0.5rem;
    overflow-x: auto;
}

.chat-options-predefined_question {
    background-color: var(--bg-outline);
    border-radius: 0.25rem;
    flex-shrink: 0;
    font-weight: 600;
    transition: 0.25s ease all;
    font-size: 0.875rem;
    z-index: 9999;
    padding: 0 0.75rem;
    height: 2rem;
    border: 1px solid var(--accent-base);
    color: var(--tg-primary);
}

.chat-options-predefined_question:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.chat-options-predefined_question-placeholder {
    background-color: var(--bg-outline);
    border-radius: 0.25rem;
    flex-shrink: 0;
    font-weight: 600;
    transition: 0.25s ease all;
    font-size: 0.875rem;
    z-index: 9999;
    width: 100%;
    padding: 0 0.75rem;
    height: 2rem;
    border: 1px solid var(--accent-base);
    color: var(--tg-primary);
}

.chat-body-lower {
    display: flex;
    gap: 1rem;
}

.button {
    background: linear-gradient(135deg, var(--accent-base), var(--accent-hovered));
    font-size: 1rem;
    position: fixed;
    z-index: 8;
    bottom: 2rem;
    right: 2rem;
    color: white;
    gap: 1rem;
}

.button:hover {
    background: linear-gradient(270deg, var(--accent-base), var(--accent-hovered));
    color: white;
}

.button > i {
    font-size: 1.5rem;
}

@media only screen and (max-width: 820px) {
    .wrapper {
        padding: 0.5rem;
    }
    .chat {
        width: 100%;
    }
    .chat-options {
        flex-direction: column;
    }
    .chat-body-upper {
        height: 60vh;
    }
}
