@import url('../../index.css');

.wrapper {
    flex-direction: column;
    min-height: 100vh;
    padding: 12rem 16rem 6rem 16rem;
    display: flex;
    gap: 4rem;
}

.header {
    flex-direction: column;
    align-self: flex-start;
    display: flex;
    gap: 1rem;
    & > button {
        align-self: flex-start;
    }
    & > h1 {
        font-weight: 700;
        font-size: 1.25rem;
        color: var(--tg-primary);
    }
}

.container {
    flex-direction: row;
    display: flex;
    width: 100%;
    gap: 2rem;
}

.form {
    background-color: var(--bg-secondary);
    flex-direction: column;
    border-radius: 0.5rem;
    flex-shrink: 0;
    align-self: flex-start;
    max-width: 25rem;
    padding: 3rem 2rem;
    display: flex;
    border: 1px solid var(--bg-outline);
    gap: 2rem;
}

.banner-wrapper {
    min-width: 0;
    display: flex;
    flex: 1;
}

.inputs-container {
    flex-direction: column;
    align-self: stretch;
    display: flex;
    gap: 1rem;
}

.ctas-container {
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    display: flex;
    gap: 1rem;
    & > button {
        padding: 0.75rem 1.25rem;
        align-self: stretch;
    }
    & > p {
        font-weight: 400;
        font-size: 0.875rem;
        color: var(--tg-secondary);
        & > a {
            text-decoration: underline;
            font-weight: 400;
            transition: 0.25s ease all;
            color: var(--tg-secondary);
            &:hover {
                cursor: pointer;
                color: var(--accent-base);
            }
        }
    }
}

.input-wrapper {
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    gap: 0.5rem;
    & > label {
        font-weight: 500;
        font-size: 0.75rem;
        color: var(--tg-primary);
    }
}

.error {
    border-radius: 0.25rem;
    align-items: center;
    padding: 1rem;
    border: 1px solid var(--error-foreground);
    display: flex;
    gap: 1rem;
    & > p {
        font-weight: 500;
        font-size: 0.75rem;
        color: var(--tg-primary);
    }
    & > i {
        color: var(--error-foreground);
    }
}

@media only screen and (max-width: 1690px) {

    .wrapper { padding: 12rem 8rem 6rem 8rem; }

}

@media only screen and (max-width: 1430px) {

    .wrapper { padding: 8rem 4rem 4rem 4rem; }

}

@media only screen and (max-width: 1300px) {

    .wrapper { padding: 14rem 2rem 2rem 2rem; }

}

@media only screen and (max-width: 860px) {

    .container {
        justify-content: center;
    }

    .banner-wrapper { display: none; }

}
