@import url('../../index.css');

.logo {
    flex-direction: row;
    display: flex;
    gap: 0.25rem;
    &:hover {
        cursor: pointer;
    }
}

.left {
    font-weight: 800;
    line-height: normal;
    font-size: 1.5rem;
    color: var(--tg-primary);
}

.right {
    border-radius: 0.5rem;
    border: 2px solid var(--accent-base);
    line-height: normal;
    font-weight: 700;
    font-size: 1rem;
    padding: 0.2rem 0.5rem;
    border: 2px solid var(--accent-base);
    color: var(--accent-base);
}
