@import url('../../index.css');

.logo {
    display: flex;
    &:hover {
        cursor: pointer;
    }
}

.logo-left {
    color: var(--tg-primary);
}

.logo-right {
    color: var(--accent-base);
}