@import url('../../index.css');

.counter {
    border-radius: 0.25rem;
    align-items: center;
    overflow: hidden;
    display: flex;
    height: 3rem;
    border: 1px solid var(--bg-outline);
}

.counter-button {
    border-radius: 0;
    border: 0;
    width: 3rem;
}

.counter-button:first-child {
    border-right: 1px solid var(--bg-outline);
}

.counter-button:last-child {
    border-left: 1px solid var(--bg-outline);
}

.counter-input {
    background-color: transparent;
    font-weight: 600;
    text-align: center;
    font-size: 0.875rem;
    outline: none;
    border: none;
    width: 3rem;
    color: var(--tg-primary);
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}

.counter-input::-webkit-outer-spin-button,
.counter-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.counter-input::-moz-number-spinners {
    display: none;
}

.counter-input:focus {
    background-color: var(--bg-hover);
}
