@import url('../../index.css');

.wrapper {
    flex-direction: column;
    padding: 12rem 16rem 6rem 16rem;
    display: flex;
    gap: 4rem;
}

.banner {
    background-image: url('https://res.cloudinary.com/dfvy7i4uc/image/upload/v1746275498/cart-banner_ebmjpr.webp');
    background-position: center;
    background-repeat: no-repeat;
    justify-content: center;
    background-size: 100%;
    border-radius: 0.5rem;
    align-items: center;
    align-self: stretch;
    display: flex;
    height: 8rem;
    border: 1px solid var(--bg-outline);
}

.header {
    flex-direction: column;
    align-self: flex-start;
    display: flex;
    gap: 1rem;
    & > button {
        align-self: flex-start;
    }
    & > h1 {
        font-weight: 700;
        font-size: 1.25rem;
        color: var(--tg-primary);
    }
}

.about {
    flex-direction: column;
    border-radius: 0.5rem;
    display: flex;
    gap: 2rem;
    & > .info-section {
        background-color: var(--bg-secondary);
        flex-direction: column;
        border-radius: 0.5rem;
        align-self: stretch;
        padding: 2rem;
        display: flex;
        border: 1px solid var(--bg-outline);
        gap: 1rem;
        & > h2 {
            font-weight: 500;
            font-size: 1.25rem;
            color: var(--tg-primary);
        }
        & > .divider {
            background-color: var(--accent-base);
            border-radius: 0.25rem;
            height: 0.25rem;
            width: 2rem;
        }
            & > p {
            font-weight: 500;
            font-size: 1rem;
            color: var(--tg-secondary);
        }
    }
}

.meet-the-team {
    flex-direction: column;
    align-self: stretch;
    display: flex;
    gap: 4rem;
    & > .header {
        flex-direction: column;
        align-items: center;
        text-align: center;
        align-self: stretch;
        display: flex;
        gap: 1rem;
        & > h2 {
            font-weight: 500;
            font-size: 1.25rem;
            color: var(--tg-primary);
        }
        & > .divider {
            background-color: var(--accent-base);
            border-radius: 0.25rem;
            height: 0.25rem;
            width: 2rem;
        }
            & > p {
            font-weight: 500;
            font-size: 1rem;
            color: var(--tg-secondary);
        }
    }
    & > .container {
        justify-content: center;
        align-content: center;
        align-items: center;
        align-self: stretch;
        flex-wrap: wrap;
        display: flex;
        gap: 4rem;
        & > .card {
            background-color: var(--bg-secondary);
            justify-content: center;
            flex-direction: column;
            border-radius: 0.5rem;
            align-items: center;
            align-self: stretch;
            display: flex;
            width: 16rem;
            height: 20rem;
            border: 1px solid var(--bg-outline);
            & > img {
                object-fit: cover;
                padding: 1rem;
                display: flex;
                height: 100%;
                width: 100%;
            }
            & > .info {
                flex-direction: column;
                align-items: flex-start;
                align-self: stretch;
                border-top: 1px solid var(--bg-outline);
                padding: 1rem;
                display: flex;
                & > h3 {
                    font-weight: 600;
                    font-size: 1rem;
                    color: var(--tg-primary);
                }
                & > h4 {
                    font-weight: 400;
                    font-size: 0.875rem;
                    color: var(--tg-secondary);
                }
            }
        }
    }
}

@media only screen and (max-width: 1575px) {

    .wrapper { padding: 12rem 8rem 6rem 8rem; }

}

@media only screen and (max-width: 1320px) {

    .wrapper { padding: 8rem 4rem 4rem 4rem; }

}

@media only screen and (max-width: 1192px) {

    .wrapper { padding: 14rem 2rem 2rem 2rem; }

}
